[user]
	name = Jake Worth
	email = jake@jakeworth.com

[core]
	excludesfile = ~/.cvsignore
	editor = vim
	whitespace = warn

[interactive]
	singlekey = true

[init]
	templatedir = ~/.git_template

[commit]
	template = ~/.git_commit_template

[github]
	user = jwworth

[init]
	defaultBranch = main
