[user]
  name = Jake Worth
  email = jake@jakeworth.com

[core]
  editor = vim
  excludesfile = ~/.gitignore
  whitespace = warn

[include]
  path = ~/.gitconfig-private

[interactive]
  singlekey = true

[github]
  user = jwworth

[init]
  defaultBranch = main
